body {
    font-family: 'Courier New', Courier, monospace;
}
.container {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: rgb(228, 222, 222);
    text-align: center;
}
.video-title {
    padding-top: 15px;
}
.important {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
}
.button {
    display: inline-block;
    margin-bottom: 30px;
    text-decoration: none;
    width: 280px;
    text-align: center;
}
.button:hover {
    opacity: 0.9;
}
.button:hover .title-video {
    color: red;
}
.img-video {
    display: inline-block;
    border-radius: 7px;
    width: 270px;
}
.title-video {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: #222;
}